@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 94%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 94%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 94%;
    --primary: 141 76% 52%;
    --primary-foreground: 0 0% 7%;
    --secondary: 98 77% 31%;
    --secondary-foreground: 0 0% 7%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 94%;
    --accent: 123 78% 55%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 123 78% 60%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

body {
  font-family: sans-serif
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background/70 text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Inter";
  src: local(""),
  url("assets/fonts/InterVariable.woff2") format("woff2");
}